# Byte-compiled / Python cache
__pycache__/
*.py[cod]
*$py.class

# Compressed / Archive files
*.zip
*.rar
*.tar
*.tar.gz
*.gz
*.7z
*.bz2

# Python virtual environment
venv/
.venv/
env/

# Project specific folders to ignore
Checkpoint_PE/
Datasets/
PE_Comparison/
Results/
summary/
Visualizations/

# Project specific files to ignore
run.txt

# Bỏ qua mọi file zip ở TẤT CẢ các thư mục con và thư mục gốc
**/*.zip

# Tương tự cho các định dạng archive khác ở mọi vị trí
**/*.rar
**/*.tar
**/*.tar.gz
**/*.gz
**/*.7z
**/*.bz2
Dataset/UEA/*.zip

# Bỏ qua mọi file .npy ở TẤT CẢ các thư mục
*.npy
# hoặc viết dạng đệ quy rõ ràng:
**/*.npy